/*region CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*endregion*/

:root {
	--colortheme-hex: #050F1F;
	--colortheme-rgb: 5, 15, 31;

	--colorwhite-hex: #dcdcdc;
	--colorwhite-rgb: 220, 220, 220;

	--color1-hex: #4685e5;
	--color1-rgb: 70, 133, 229;
	--color2-hex: #2058ac;
	--color2-rgb: 32, 88, 172;
	--color3-hex: #94cd33;
	--color3-rgb: 148, 205, 51;
	--color4-hex: #dd3a15;
	--color4-rgb: 221, 58, 21;
	--color5-hex: #3640f8;
	--color5-rgb: 54, 64, 248;
	--color6-hex: #668d73;
	--color6-rgb: 102, 141, 115;
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--colortheme-hex);
}

body {
	font-family: "Comfortaa", sans-serif;
	overflow: hidden;
	height: 100dvh;
	width: 100vw;
	background-color:var(--color2-hex);
	scrollbar-width: thin;
	color: var(--colorwhite-hex);
	touch-action: none;
}

li {
	display: list-item;
}

ul li:before {
	content: "•";
	padding-right: 10px;
}

a {
	color: var(--colorwhite-hex);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.background-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 1rem;
	z-index: 10;
}

#splash {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
	width: 100vw;
	height: 100dvh;
	padding: 1rem;
	z-index: 10;
	background-color: rgba(0, 0, 0, .75);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	transition: backdrop-filter 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

body.active #splash {
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	background-color: rgba(0, 0, 0, 0);
}

button {
	font: inherit;
	cursor: pointer;
	outline: none;
	border: 1px solid var(--colorwhite-hex);
	color: var(--colorwhite-hex);
	background-color: rgba(var(--color5-rgb), 0.1);
	transition: opacity 0.5s ease-in-out, background-color 0.1s ease-in-out;
	opacity: 1;
}

button:hover {
	background-color: rgba(var(--color5-rgb), 0.25);
}

#control-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

#splash.show-misc #control-panel {
	top: -100%;
}

body.active #control-panel {
	opacity: 0;
}

#start-button {
	font-size: 2.5rem;
	font-weight: normal;
	padding: 1.5rem;
	background-color: rgba(var(--color3-rgb), 0.2);
	min-width: 30vw;
}

#start-button:hover {
	background-color: rgba(var(--color3-rgb), 0.4);
}

#additional {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#additional-buttons {
	display: flex;
	margin-top: 2rem;
}

#additional-buttons > button {
	padding: 0.75rem;
}

#additional-info {
	display: flex;
	width: 100%;
	height: 5vh;
	align-items: center;
	justify-content: center;
}

#additional-info > label {
	color: var(--colorwhite-hex);
	margin: auto;
	padding: 1rem;
	text-align: center;
}

#misc-panel {
	color: var(--colorwhite-hex);
	width: 100%;
	padding: 1rem;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	overflow: hidden;
}

#splash.show-misc #misc-panel {
	top: 0;
}

#go-back-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--colortheme-rgb), 0.1);
	border-color: rgba(var(--colortheme-rgb), 0.5);
	padding: .25rem;
	width: 100%;
}

#go-back-button:hover {
	background-color: rgba(var(--colortheme-rgb), 0.15)
}

#go-back-button > svg {
	display: block;
	width: 2rem;
	height: 2rem;
	color: rgb(var(--colorwhite-rgb), 0.75);
}

#misc-panel {
	height: 100dvh;
}

#misc-panel section {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#misc-panel section > * {
	margin: 1.5rem .1rem .1rem .1rem;
	width: 50vw;
}

#misc-panel section h3 {
	padding: 1rem;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	background-color: rgba(var(--colortheme-rgb), 0.2);
}

#misc-panel section h6 {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
}

#misc-panel section p,
#misc-panel section li {
	line-height: 1.5rem;
}

#stats-section {
	align-items: center;
	justify-content: center;
	text-align: center;
	width: initial;
}

#odometer {
	text-shadow: 0 0 5px black;
	font-size: 6rem;
	color: var(--colorwhite-hex);
	width: initial !important;
}

#odometer + p {
	font-style: italic;
}

#about-section {
	align-items: center;
	justify-content: center;
	text-align: center;
}

#quote-section {
	overflow: hidden !important;
}

#quote-section > div.instructions {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-style: italic;
	font-size: 1.5rem;
	flex: 1;
	color: gainsboro;
	text-align: center;
	opacity: 1;
	transition: opacity .25s ease-in-out;
}

#quote-section.show-quote > div.instructions {
	opacity: 0;
}

#quote-section > blockquote {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: rgba(var(--colorwhite-rgb), 0.4);
	color: black;
	padding: 2rem;
	text-align: center;
	border-radius: 2rem;
	width: 60%;
	max-width: 1000px;
	container-type: inline-size;
	font-size: 2rem;
	flex: 1;
	z-index: 2;
	top: -200%;
	transition: top 0.5s ease-in-out;
	line-height: 1.1;
}

#quote-section.show-quote > blockquote {
	top: 0;
}

#quote-section > blockquote::after {
	content: "";
	position: absolute;
	bottom: -4rem;
	left: 20%;
	border-width: 4rem 0 0 4rem;
	border-style: solid;
	border-color: rgba(var(--colorwhite-rgb), 0.4) transparent;
	display: block;
	width: 0;
}

#quote-section > div.spacer {
	flex: 2;
}

#quote-dandy-dan {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left:50%;
	transform: translate(-50%, 0);
	top: 40%;
	width: 800px !important;
	transition: transform .1s ease-in-out;
	filter: brightness(0.80);
}

#quote-dandy-dan > img {
	width: 100%;
}

#quote-dandy-dan > button {
	position: absolute;
	height: 5rem;
	width: 5rem;
	top: 32%;
	left: 50%;
	border-radius: 15rem;
	transform: translate(-50%, -50%);
	border: none;
	background-color: transparent;
}

body.active #sun {
	top: 5%;
}

#sun {
	position: absolute;
	top: -150%;
	left: 25%;
	transform: translate(-50%, -50%);
	width: 25rem;
	height: 25rem;
	margin: 3rem auto;
	background: radial-gradient(transparent 50%, white), radial-gradient(yellow, transparent 70%);
	-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
	mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
	border-radius: 50%;
	transition: top 1s ease-in-out;
	z-index: 1;
}

#sun::after,
#sun::before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform-origin: center;
	 border-radius: 50%;
	 -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
	 mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
 }

#sun::before {
	 background: repeating-conic-gradient(from 0deg, yellow 0deg 20deg, transparent 20deg 40deg);
	 animation: rotate 120s linear infinite, scale 3s linear infinite;
 }

#sun::after {
	 background: radial-gradient(yellow, orange 27%, transparent calc(27% + 3px) 100%), radial-gradient(gold, transparent 70%), repeating-conic-gradient(from 0deg, gold 0deg 5deg, transparent 5deg 10deg);
	 transform: rotate(15deg);
	 animation: rotate 40s linear infinite;
 }

body.active .cloud {
	top: 50%;
}

body.active .cloud:nth-child(2) {
	top: 25%;
	animation-delay: 3s;
}

body.active .cloud:nth-child(3) {
	top: 60%;
	animation-delay: 5.5s;
}

.cloud {
	position: absolute;
	top: -250%;
	left: -50%;
	transform: translate(-50%, -150%) scale(0.8);
	transition: top 1s ease-in-out;
	animation: drift 30s none infinite;
	z-index: 3;
}

.cloud > div {
	background: rgba(255, 255, 255);
	width: 300px;
	height: 100px;
	border-radius: 150px;
	box-shadow: 10px 10px rgba(0,0,0,0.2);
	margin: 1rem;
}

.cloud > div:after {
	content: '';
	background: rgba(255, 255, 255);
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -50px;
	left: 50px;
	margin: 1rem;
}

.cloud > div:before {
	content: '';
	background: rgba(255, 255, 255);
	position: absolute;
	width: 170px;
	height: 150px;
	border-radius: 50%;
	top: -90px;
	left: 100px;
	margin: 1rem;
}

#mountain {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	width: 2500px;
	height: 70dvh;
	z-index: 2;


	bottom: -200%;
	transition: bottom 1s ease-in-out;
}

#mountain > img {
	width: 100%;
	filter: drop-shadow(0 0 5px rgba(0,0,0,0.35));
}

body.active #mountain {
	bottom: 25dvh;
}

#billboard {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
	text-align: center;

	width: 75vw;
	max-width: 750px;

	top: -200%;
	transition: top 1s ease-in-out;
	opacity: 0;
	user-select: none;
}

body.active #billboard {
	top: 10vh;
	opacity: 1;
}

#billboard > div.bar {
	height: .75rem;
	width: 102%;
	margin-top: 5px;
	background-color: gray;
	border: 1px solid dimgray;
	z-index: 6;
}

#billboard > div.legs {
	position: relative;
	width: 80%;
	height: 50vh;
	top: -5vh;
	z-index: 5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.legs > div {
	width: 1rem;
	height: 100%;
	background-color: gray;
	border: 1px solid dimgray;
}

#greeting {
	display: block;
	z-index: 6;
	border: 4px solid gray;
	box-shadow: inset 0 0 5px gold;
	padding: 2rem;
	min-height: 20vh;
	font-size: 10cqb;
	font-weight: bold;
	width: 100%;
/*	background-color: var(--colortheme-hex);*/
	animation: rainbow 5s ease-in-out infinite alternate;
}

.word {
	transition: text-shadow 0.5s ease-in-out, font-size 0.5s ease-in-out;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}

.word.focus {
	--glow-size: 0.15rem;
	font-size: 100%;
	text-shadow:
			0 0 calc(var(--glow-size)) #fff,
			0 0 calc(var(--glow-size) * 2) #fff,
			0 0 calc(var(--glow-size) * 3) rgba(255, 215, 0, 0.25),
			0 0 calc(var(--glow-size) * 4) rgba(255, 215, 0, 0.25),
			0 0 calc(var(--glow-size) * 5) rgba(255, 215, 0, 0.25),
			0 0 calc(var(--glow-size) * 6) rgba(255, 215, 0, 0.25);
}

#grass {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: -200%;
	width: 125vw;
	height: 25dvh;
	transition: bottom 1s ease-in-out;
	background-color: green;
	z-index: 4;
}

body.active #grass {
	bottom: 0;
}

#grass > .lawn {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 3vh;
	width: 100%;
	background-size: 6px 6px !important;
	background:
			linear-gradient(to right, rgba(0, 100, 0, 0.7) 1px, transparent 3px);
	margin-top: -.75vh;
	animation: sway 3s ease-in-out infinite alternate;
}


#grass > .lawn:nth-child(9n+1) {
	animation-delay: .4s;
}

#grass > .lawn:nth-child(9n+2) {
	animation-delay: .91s;
}

#grass > .lawn:nth-child(9n+3) {
	animation-delay: 1.39s;
}

#grass > .lawn:nth-child(9n+4) {
	animation-delay: 1.86s;
}

#grass > .lawn:nth-child(9 + 5) {
	animation-delay: 2.21s;
}

#grass > .lawn:nth-child(9n+6) {
	animation-delay: .6s;
}

#grass > .lawn:nth-child(9n+7) {
	animation-delay: 1.51s;
}

#grass > .lawn:nth-child(9n+ 8) {
	animation-delay: 1.98s;
}

#grass > .lawn:nth-child(9n+ 9) {
	animation-delay: 2.41s;
}

#dandy-dan {
	position: absolute;
	left:0;
	right:0;
	bottom: -300%;
	width: 100vw;
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 8;
	transition: bottom 1s ease-in-out;
	user-select: none;
}

body.active #dandy-dan {
	bottom: -15px;
}

#dandy-dan > img {
	height: 100%;
}

.dance {
	animation: dance .2s ease-in-out infinite alternate;
	transform-origin: bottom;
}

main.error {
	background-color: rgba(var(--color4-rgb), 0.80);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	text-align: center;
	width: 100vw;
}

main.error > * {
	margin: 1rem 0;
}

main.error > h1 {
	font-weight: bold;
	font-size: 8cqb;
}

main.error > h4 {
	font-size: 3cqb;
}

main.error > p {
	font-size: 2cqb;
	font-style: italic;
}

.shimmer {
	background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background-size: 75px 125%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	animation: shimmer 2s ease infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #222;
}

.bg.right {
	background-image: linear-gradient(-50deg, var(--color1-hex) 60%, var(--color3-hex) 60%);
	animation-delay: 1s;
}

body.active .bg.right {
	right: 250%;
}

.bg.left {
	background-image: linear-gradient(50deg, var(--color1-hex) 60%, var(--color3-hex) 60%);
}

body.active .bg.left {
	left: 250%;
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	bottom:0;
	left:-50%;
	opacity:.25;
	position:fixed;
	right:-50%;
	top:0;
	z-index:1;
	transition: left 1s ease-in-out, right 1s ease-in-out, opacity .5s ease-in-out;
}

body.active .bg {
	opacity: 0;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg3 {
	animation-duration:5s;
}

.bg4 {
	animation-direction: alternate-reverse;
	animation-duration:6s;
}

.bg5 {
	animation-duration: 7s;
}

.hide,
.hide::before,
.hide::after {
	display: none !important;
}

@keyframes firework {
	0% {
		transform: translate(var(--x), var(--initialY));
		width: var(--initialSize);
		opacity: 1;
	}
	50% {
		width: 0.5vmin;
		opacity: 1;
	}
	100% {
		width: var(--finalSize);
		opacity: 0;
	}
}


.firework,
.firework::before,
.firework::after
{
	--initialSize: 0.5rem;
	--particleSize: 0.25rem;
	--y: -40vmin;
	--x: -50%;
	--initialY: 60vmin;
	overflow: hidden;
	content: "";
	animation: firework 2s infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, var(--y));
	width: var(--initialSize);
	aspect-ratio: 1;
	z-index: 3;
	background:
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

				/* bottom right */
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

				/* bottom left */
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

				/* top left */
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

				/* top right */
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
;
	background-size: var(--initialSize) var(--initialSize);
	background-repeat: no-repeat;
}


.firework::before {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
}

.firework::after {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
}

.firework.f1 {
	--y: -40vmin;
	--x: 20vmin;
}

.firework.f1,
.firework.f1::before,
.firework.f1::after {
	--color1: yellow;
	--color2: khaki;
	--color3: white;
	--color4: lime;
	--color5: gold;
	--color6: mediumseagreen;
	--finalSize: 50vmin;
	left: 30%;
	top: 60%;
	animation-delay: 0s;
}

.firework.f2 {
	--x: 30vmin;
	--y: -40vmin;
}

.firework.f2,
.firework.f2::before,
.firework.f2::after {
	--color1: pink;
	--color2: violet;
	--color3: fuchsia;
	--color4: orchid;
	--color5: plum;
	--color6: lavender;
	--finalSize: 40vmin;
	left: 30%;
	top: 60%;
	animation-delay: 0.25s;
}

.firework.f3 {
	--x: -30vmin;
	--y: -50vmin;
}

.firework.f3,
.firework.f3::before,
.firework.f3::after {
	--color1: cyan;
	--color2: lightcyan;
	--color3: lightblue;
	--color4: PaleTurquoise;
	--color5: SkyBlue;
	--color6: lavender;
	--finalSize: 35vmin;
	left: 70%;
	top: 60%;
	animation-delay: 0.4s;
}

.firework.f4 {
	--x: 30vmin;
	--y: -80vmin;
}

.firework.f4,
.firework.f4::before,
.firework.f4::after {
	--color1: yellow;
	--color2: gold;
	--color3: DarkOrange;
	--color4: GoldenRod;
	--color5: Khaki;
	--color6: LemonChiffon;
	--finalSize: 70vmin;
	left: 20%;
	top: 70%;
	animation-delay: 0.6s;
}

.firework.f5 {
	--x: -30vmin;
	--y: -80vmin;
}

.firework.f5,
.firework.f5::before,
.firework.f5::after {
	--color1: PaleGreen;
	--color2: SpringGreen;
	--color3: White;
	--color4: YellowGreen;
	--color5: Yellow;
	--color6: WhiteSmoke;
	--finalSize: 45vmin;
	left: 80%;
	top: 70%;
	animation-delay: 0.1s;
}

.firework.f6 {
	--x: -40vmin;
	--y: -45vmin;
}

.firework.f6,
.firework.f6::before,
.firework.f6::after {
	--color1: PapayaWhip;
	--color2: DeepPink;
	--color3: White;
	--color4: FireBrick;
	--color5: IndianRed;
	--color6: LightCoral;
	--finalSize: 30vmin;
	left: 80%;
	top: 80%;
	animation-delay: 0.35s;
}

.firework.f7 {
	--x: 0vmin;
	--y: -70vmin;
}

.firework.f7,
.firework.f7::before,
.firework.f7::after {
	--color1: yellow;
	--color2: gold;
	--color3: DarkOrange;
	--color4: GoldenRod;
	--color5: Khaki;
	--color6: LemonChiffon;
	--finalSize: 60vmin;
	left: 50%;
	top: 50%;
	animation-delay: 0.5s;
}

@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}

@keyframes drift {
	0% {
		left: -50%;
	}
	100% {
		left: 200%;
	}
}

@keyframes sway {
	0% {
		transform: translateX(-30px);
	}
	100% {
		transform: translateX(-15px);
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.2);
	}
	40% {
		transform: scale(0.8);
	}
	60% {
		transform: scale(1.1);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}

@keyframes dance {
	0% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px);
	}
}

@keyframes rainbow {
	0% {
		background-color: rgba(221, 58, 21, 1.0);
		color: rgba(148, 205, 51, 1.0);
	}
	10% {
		background-color: rgba(220, 36, 61, 1.0);
		color: rgba(159, 207, 46, 1.0);
	}
	20% {
		background-color: rgba(209, 30, 90, 1.0);
		color: rgba(169, 208, 41, 1.0);
	}
	30% {
		background-color: rgba(189, 41, 114, 1.0);
		color: rgba(180, 209, 36, 1.0);
	}
	40% {
		background-color: rgba(163, 56, 131, 1.0);
		color: rgba(191, 210, 32, 1.0);
	}
	50% {
		background-color: rgba(132, 68, 141, 1.0);
		color: rgba(201, 211, 27, 1.0);
	}
	60% {
		background-color: rgb(101, 75, 142, 1.0);
		color: rgba(212, 212, 23, 1.0);
	}
	70% {
		background-color: rgb(72, 79, 135, 1.0);
		color: rgba(223, 213, 21, 1.0);
	}
	80% {
		background-color: rgba(49, 79, 122, 1.0);
		color: rgba(234, 213, 19, 1.0);
	}
	90% {
		background-color: rgba(39, 76, 106, 1.0);
		color: rgba(244, 214, 19, 1.0);
	}
	100% {
		background-color: rgba(42, 72, 88, 1.0);
		color: rgba(255, 214, 21, 1.0);
	}
}

@media screen and (max-width: 1000px) {
	#greeting {
		font-size: 8cqb;
	}

	#start-button {
		min-width: 40vw;
	}

	#quote-section > blockquote::after {
		left: 10%;
	}

	#quote-dandy-dan {
		top: 45%;
		width: 850px !important;
	}

	#quote-section > blockquote {
		padding: 1rem;
		font-size: 2rem;
		width: 80%;
	}
}

@media screen and (max-width: 850px) {

	#billboard {
		width: 90vw;
	}

	#dandy-dan {
		height: 55vh;
	}

	#start-button {
		min-width: 55vw;
	}

	#misc-panel section > * {
		width: 100%;
	}

	#quote-dandy-dan {
		top: 40%;
		width: 650px !important;
	}

	#quote-section > blockquote {
		padding: 1rem;
		font-size: 5cqw;
	}

	.firework.f1 {
		--y: -40vmin;
		--x: 20vmin;
	}

	.firework.f1,
	.firework.f1::before,
	.firework.f1::after {
		--finalSize: 60vmin;
		left: -10%;
		top: 60%;
	}

	.firework.f2 {
		--y: -40vmin;
		--x: 30vmin;
	}

	.firework.f2,
	.firework.f2::before,
	.firework.f2::after {
		--finalSize: 40vmin;
		left: 20%;
		top: 40%;
	}

	.firework.f3 {
		--y: -30vmin;
		--x: -30vmin;
	}

	.firework.f3,
	.firework.f3::before,
	.firework.f3::after {
		--finalSize: 80vmin;
		left: 110%;
		top: 50%;
	}


	.firework.f4 {
		--x: -30vmin;
		--y: -110vmin;
	}

	.firework.f4,
	.firework.f4::before,
	.firework.f4::after {
		--finalSize: 40vmin;
		left: 75%;
		top: 90%;
	}

	.firework.f5 {
		--x: 10vmin;
		--y: 10vmin;
	}

	.firework.f5,
	.firework.f5::before,
	.firework.f5::after {
		--finalSize: 50vmin;
		left: 20%;
		top: 45%;
		animation-delay: 0.1s;
	}

	.firework.f6 {
		--x: -40vmin;
		--y: -45vmin;
	}

	.firework.f6,
	.firework.f6::before,
	.firework.f6::after {
		--finalSize: 35vmin;
		left: 100%;
		top: 100%;
		animation-delay: 0.55s;
	}

	.firework.f7 {
		--x: 0vmin;
		--y: -95vmin;
	}

	.firework.f7,
	.firework.f7::before,
	.firework.f7::after {
		--finalSize: 85vmin;
		left: 50%;
		top: 100vmin;
	}

	.firework.f8 {
		--x: 0vmin;
		--y: 0vmin;
	}

	.firework.f8,
	.firework.f8::before,
	.firework.f8::after {
		--finalSize: 60vmin;
		left: 80%;
		top: 50%;
		animation-delay: 0s;
	}
}

