/*region CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*endregion*/

:root {
	--color1-hex: #4685e5;
	--color1-rgb: 70, 133, 229;
	--color2-hex: #2058ac;
	--color2-rgb: 32, 88, 172;
	--color3-hex: #94cd33;
	--color3-rgb: 148, 205, 51;
	--color4-hex: #dd3a15;
	--color4-rgb: 221, 58, 21;
	--color5-hex: #3640f8;
	--color5-rgb: 54, 64, 248;
	--color6-hex: #668d73;
	--color6-rgb: 102, 141, 115;
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--color2-hex);
}

body {
	font-family: "Comfortaa", sans-serif;
	overflow: hidden;
	/*height: calc(var(--vh, 1vh) * 100);*/
	height: 100dvh;
	width: 100vw;
	background-color: var(--color2-hex);
}

.background-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 1rem;
	z-index: 4;
}

#splash {
	background-color: rgba(0, 0, 0, .75);
	width: 100vw;
	/*height: calc(var(--vh, 1vh) * 100);*/
	height: 100dvh;
	position: absolute;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	transition: backdrop-filter 0.5s ease-in-out, background-color 1s ease-in-out;
}

body.active #splash {
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	background-color: rgba(0, 0, 0, 0);
}

button {
	font: inherit;
	cursor: pointer;
	outline: none;
	border: 1px solid gainsboro;
	color: gainsboro;
	background-color: rgba(var(--color5-rgb), 0.1);
	transition: opacity 0.5s ease-in-out, background-color 0.1s ease-in-out;
	opacity: 1;
}

button:hover {
	background-color: rgba(var(--color5-rgb), 0.25);
}

#start-button {
	font-size: 2.5rem;
	font-weight: normal;
	padding: 1.5rem;
	background-color: rgba(var(--color3-rgb), 0.2);
	min-width: 30vw;
}

#start-button:hover {
	background-color: rgba(var(--color3-rgb), 0.4);
}

body.active #start-button {
	opacity: 0;
}

#additional {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 0.5s ease-in-out;
}

body.active #additional {
	opacity: 0;
}

#additional-buttons {
	display: flex;
	margin-top: 2rem;
}

#additional-buttons > button {
	padding: 0.75rem;
}

#additional-info {
	display: flex;
	width: 100%;
	height: 5vh;
	align-items: center;
	justify-content: center;
}

#additional-info > label {
	color: gainsboro;
	margin: auto;
	padding: 1rem;
	text-align: center;
}

#top-panel {
	position: absolute;
	top: -200%;
	width: 100vw;
	min-height: 25vh;
	text-align: center;
	animation: rainbow 10s ease-in-out infinite alternate;
	transition: top 1s ease-in-out;
	opacity: 0;
}

body.active #top-panel {
	top: 0;
	opacity: 1;
}

#bottom-panel {
	position: absolute;
	bottom: -200%;
	width: 100vw;
	min-height: 5vh;
	text-align: center;
	animation: rainbow 10s ease-in-out infinite alternate;
	transition: bottom 1s ease-in-out;
	font-style: italic;
	opacity: 0;
}

body.active #bottom-panel {
	bottom: 0;
	opacity: 1;
}

#progress-bar {
	width: 100%;
	height: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.05);
}

#progress-value {
	height: 100%;
	width: 100%;
	transition: width .5s ease-in-out;
	animation: rainbow-reverse 10s infinite alternate;
	opacity: 0.5;
}

#greeting {
	font-size: 6rem;
	font-weight: bold;
	width: 100%;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.05);
}

.word {
	transition: text-shadow 0.5s ease-in-out, font-size 0.5s ease-in-out;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}

.word.focus {
	--glow-size: 0.15rem;
	font-size: 100%;
	text-shadow:
			0 0 calc(var(--glow-size)) #fff,
			0 0 calc(var(--glow-size) * 2) #fff,
			0 0 calc(var(--glow-size) * 3) var(--color6-hex),
			0 0 calc(var(--glow-size) * 4) var(--color6-hex),
			0 0 calc(var(--glow-size) * 5) var(--color6-hex),
			0 0 calc(var(--glow-size) * 6) var(--color6-hex);
}

#dandy-dan {
	position: absolute;
	left:0;
	right:0;
	bottom: -300%;
	width: 100vw;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 3;
	transition: bottom 1s ease-in-out;
}

body.active #dandy-dan {
	bottom: -15px;
}

#dandy-dan > img {
	height: 100%;
}

.dance {
	animation: dance .2s ease-in-out infinite alternate;
	transform-origin: bottom;
}

main.error {
	background-color: rgba(var(--color4-rgb), 0.80);
	flex-direction: column;
}

main.error > h1 {
	font-weight: bold;
	font-size: 6rem;
	padding: 2rem;
}

main.error > h4 {
	font-size: 2rem;
	padding: 1rem;
}

main.error > p {
	font-style: italic;
}

.shimmer {
	background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, silver));
	background-size: 75px 125%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	animation: shimmer 2s ease infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #222;
}

.bg.right {
	background-image: linear-gradient(-50deg, var(--color1-hex) 60%, var(--color3-hex) 60%);
	animation-delay: 1s;
}

.bg.left {
	background-image: linear-gradient(50deg, var(--color1-hex) 60%, var(--color3-hex) 60%);
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	bottom:0;
	left:-50%;
	opacity:.25;
	position:fixed;
	right:-50%;
	top:0;
	z-index:1;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg3 {
	animation-duration:5s;
}

.bg4 {
	animation-direction: alternate-reverse;
	animation-duration:6s;
}

.bg5 {
	animation-duration: 7s;
}

.hide,
.hide::before,
.hide::after {
	display: none !important;
}

@keyframes firework {
	0% {
		transform: translate(var(--x), var(--initialY));
		width: var(--initialSize);
		opacity: 1;
	}
	50% {
		width: 0.5vmin;
		opacity: 1;
	}
	100% {
		width: var(--finalSize);
		opacity: 0;
	}
}


.firework,
.firework::before,
.firework::after
{
	--initialSize: 0.5rem;
	--particleSize: 0.25rem;
	--y: -40vmin;
	--x: -50%;
	--initialY: 60vmin;
	overflow: hidden;
	content: "";
	animation: firework 2s infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, var(--y));
	width: var(--initialSize);
	aspect-ratio: 1;
	z-index: 2;
	background:
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

				/* bottom right */
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

				/* bottom left */
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

				/* top left */
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
			radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
			radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
			radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
			radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
			radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

				/* top right */
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
			radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
;
	background-size: var(--initialSize) var(--initialSize);
	background-repeat: no-repeat;
}


.firework::before {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
}

.firework::after {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
}

.firework.f1 {
	--y: -40vmin;
	--x: 20vmin;
}

.firework.f1,
.firework.f1::before,
.firework.f1::after {
	--color1: yellow;
	--color2: khaki;
	--color3: white;
	--color4: lime;
	--color5: gold;
	--color6: mediumseagreen;
	--finalSize: 50vmin;
	left: 30%;
	top: 60%;
	animation-delay: 0s;
}

.firework.f2 {
	--x: 30vmin;
	--y: -40vmin;
}

.firework.f2,
.firework.f2::before,
.firework.f2::after {
	--color1: pink;
	--color2: violet;
	--color3: fuchsia;
	--color4: orchid;
	--color5: plum;
	--color6: lavender;
	--finalSize: 40vmin;
	left: 30%;
	top: 60%;
	animation-delay: 0.25s;
}

.firework.f3 {
	--x: -30vmin;
	--y: -50vmin;
}

.firework.f3,
.firework.f3::before,
.firework.f3::after {
	--color1: cyan;
	--color2: lightcyan;
	--color3: lightblue;
	--color4: PaleTurquoise;
	--color5: SkyBlue;
	--color6: lavender;
	--finalSize: 35vmin;
	left: 70%;
	top: 60%;
	animation-delay: 0.4s;
}

.firework.f4 {
	--x: 30vmin;
	--y: -80vmin;
}

.firework.f4,
.firework.f4::before,
.firework.f4::after {
	--color1: yellow;
	--color2: gold;
	--color3: DarkOrange;
	--color4: GoldenRod;
	--color5: Khaki;
	--color6: LemonChiffon;
	--finalSize: 70vmin;
	left: 20%;
	top: 70%;
	animation-delay: 0.6s;
}

.firework.f5 {
	--x: -10vmin;
	--y: 10vmin;
}

.firework.f5,
.firework.f5::before,
.firework.f5::after {
	--color1: PaleGreen;
	--color2: SpringGreen;
	--color3: White;
	--color4: YellowGreen;
	--color5: Yellow;
	--color6: WhiteSmoke;
	--finalSize: 30vmin;
	left: 20%;
	top: 50%;
	animation-delay: 0.1s;
}

.firework.f6 {
	--x: -40vmin;
	--y: -45vmin;
}

.firework.f6,
.firework.f6::before,
.firework.f6::after {
	--color1: PapayaWhip;
	--color2: DeepPink;
	--color3: White;
	--color4: FireBrick;
	--color5: IndianRed;
	--color6: LightCoral;
	--finalSize: 30vmin;
	left: 80%;
	top: 80%;
	animation-delay: 0.35s;
}

.firework.f7 {
	--x: -30vmin;
	--y: -15vmin;
}

.firework.f7,
.firework.f7::before,
.firework.f7::after {
	--color1: pink;
	--color2: violet;
	--color3: fuchsia;
	--color4: orchid;
	--color5: plum;
	--color6: lavender;
	--finalSize: 40vmin;
	left: 80%;
	top: 80%;
	animation-delay: 0.2s;
}

.firework.f8 {
	--x: 0vmin;
	--y: -15vmin;
}

.firework.f8,
.firework.f8::before,
.firework.f8::after {
	--color1: yellow;
	--color2: gold;
	--color3: DarkOrange;
	--color4: GoldenRod;
	--color5: Khaki;
	--color6: LemonChiffon;
	--finalSize: 60vmin;
	left: 50%;
	top: 50%;
	animation-delay: 0.5s;
}

@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}

@keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}

@keyframes dance {
	0% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px);
	}
}

@keyframes rainbow-reverse {
	0% {
		color: rgba(221, 58, 21, 0.8);
		background-color: rgba(148, 205, 51, 0.8);
	}
	10% {
		color: rgba(220, 36, 61, 0.8);
		background-color: rgba(159, 207, 46, 0.8);
	}
	20% {
		color: rgba(209, 30, 90, 0.8);
		background-color: rgba(169, 208, 41, 0.8);
	}
	30% {
		color: rgba(189, 41, 114, 0.8);
		background-color: rgba(180, 209, 36, 0.8);
	}
	40% {
		color: rgba(163, 56, 131, 0.8);
		background-color: rgba(191, 210, 32, 0.8);
	}
	50% {
		color: rgba(132, 68, 141, 0.8);
		background-color: rgba(201, 211, 27, 0.8);
	}
	60% {
		color: rgb(101, 75, 142, 0.8);
		background-color: rgba(212, 212, 23, 0.8);
	}
	70% {
		color: rgb(72, 79, 135, 0.8);
		background-color: rgba(223, 213, 21, 0.8);
	}
	80% {
		color: rgba(49, 79, 122, 0.8);
		background-color: rgba(234, 213, 19, 0.8);
	}
	90% {
		color: rgba(39, 76, 106, 0.8);
		background-color: rgba(244, 214, 19, 0.8);
	}
	100% {
		color: rgba(42, 72, 88, 0.8);
		background-color: rgba(255, 214, 21, 0.8);
	}
}

@keyframes rainbow {
	0% {
		background-color: rgba(221, 58, 21, 0.8);
		color: rgba(148, 205, 51, 0.8);
	}
	10% {
		background-color: rgba(220, 36, 61, 0.8);
		color: rgba(159, 207, 46, 0.8);
	}
	20% {
		background-color: rgba(209, 30, 90, 0.8);
		color: rgba(169, 208, 41, 0.8);
	}
	30% {
		background-color: rgba(189, 41, 114, 0.8);
		color: rgba(180, 209, 36, 0.8);
	}
	40% {
		background-color: rgba(163, 56, 131, 0.8);
		color: rgba(191, 210, 32, 0.8);
	}
	50% {
		background-color: rgba(132, 68, 141, 0.8);
		color: rgba(201, 211, 27, 0.8);
	}
	60% {
		background-color: rgb(101, 75, 142, 0.8);
		color: rgba(212, 212, 23, 0.8);
	}
	70% {
		background-color: rgb(72, 79, 135, 0.8);
		color: rgba(223, 213, 21, 0.8);
	}
	80% {
		background-color: rgba(49, 79, 122, 0.8);
		color: rgba(234, 213, 19, 0.8);
	}
	90% {
		background-color: rgba(39, 76, 106, 0.8);
		color: rgba(244, 214, 19, 0.8);
	}
	100% {
		background-color: rgba(42, 72, 88, 0.8);
		color: rgba(255, 214, 21, 0.8);
	}
}

@media screen and (max-width: 1000px) {
	#greeting {
		font-size: 5rem;
		padding: 0.5rem;
	}

	#start-button {
		min-width: 40vw;
	}
}

@media screen and (max-width: 850px) {
	#greeting {
		font-size: 4rem;
		padding: 0;
	}

	#dandy-dan {
		height: 65vh;
	}

	#start-button {
		min-width: 55vw;
	}

	.firework.f1 {
		--y: -40vmin;
		--x: 20vmin;
	}

	.firework.f1,
	.firework.f1::before,
	.firework.f1::after {
		--finalSize: 60vmin;
		left: -10%;
		top: 60%;
	}

	.firework.f2 {
		--y: -40vmin;
		--x: 30vmin;
	}

	.firework.f2,
	.firework.f2::before,
	.firework.f2::after {
		--finalSize: 40vmin;
		left: 20%;
		top: 40%;
	}

	.firework.f3 {
		--y: -30vmin;
		--x: -30vmin;
	}

	.firework.f3,
	.firework.f3::before,
	.firework.f3::after {
		--finalSize: 80vmin;
		left: 110%;
		top: 50%;
	}


	.firework.f4 {
		--x: -30vmin;
		--y: -90vmin;
	}

	.firework.f4,
	.firework.f4::before,
	.firework.f4::after {
		--finalSize: 40vmin;
		left: 90%;
		top: 90%;
	}

	.firework.f5 {
		--x: 10vmin;
		--y: 10vmin;
	}

	.firework.f5,
	.firework.f5::before,
	.firework.f5::after {
		--finalSize: 50vmin;
		left: 20%;
		top: 45%;
		animation-delay: 0.1s;
	}

	.firework.f6 {
		--x: -40vmin;
		--y: -45vmin;
	}

	.firework.f6,
	.firework.f6::before,
	.firework.f6::after {
		--finalSize: 35vmin;
		left: 100%;
		top: 100%;
		animation-delay: 0.55s;
	}

	.firework.f7 {
		--x: 0vmin;
		--y: -95vmin;
	}

	.firework.f7,
	.firework.f7::before,
	.firework.f7::after {
		--finalSize: 85vmin;
		left: 50%;
		top: 100vmin;
	}

	.firework.f8 {
		--x: 0vmin;
		--y: 0vmin;
	}

	.firework.f8,
	.firework.f8::before,
	.firework.f8::after {
		--finalSize: 60vmin;
		left: 80%;
		top: 50%;
		animation-delay: 0s;
	}
}

